html {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #515751, #596869);
    background-attachment: fixed;
  }

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    background: #F5F9E9;
    padding: 40px;
    box-shadow: 10px 5px 5px black;

}
  
.form input[type="number"] {
    width: 200px;
}

.lastResult {
    color: white;
    padding: 3px;
}

h1 {
    text-align: center;
    font-family: 'Rancho', cursive;
    font-weight: 700;
    color: #36453B;
}

p {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}

label {
    padding-left: 20px ;
}